.category {
    flex: 1;
    border-left: 1px solid #b2b4b7;
        input {
            &:focus {
                border: 2px solid #b2b4b7 !important;
            }

            &:focus-visible {
                border: 2px solid #b2b4b7 !important;
            }
        }

    .create-category {
        form {
            .button-primary {
                padding: 9px 47px !important;
            }
        }
    }
    .category-search{
        input{
            padding-left: 35px;
        }
        i{
            top: 10px;
            left: 20px;
            color: #6a6c6e;
        }
    }

    .category-list {
        .table-responsive {
            font-size: 14px;
            border: 1px solid #cdcfd5;
            border-radius: 7px;
            table{
                margin-bottom: 0 !important;

                thead {
                    th {
                        background-color: #f1f1f1;
                        font-weight: 700;
                        color: #333;
                        padding: 12px;
                    }
                }

                tbody {
                    tr {
                        td {
                            padding: 16px;
                            vertical-align: top;
                            border-bottom: 1px solid #cdcfd5;
                        }
                    }
                }
            }
        }

    }
}
