.create-course-main {


    // Header section

    header.custom-header {
        position: sticky;
        top: 0;
        background-color: #fff;
        border-bottom: 1px solid #c0c3cb;
        z-index: 40;

        .container-fluid {
            .header-wrapper {
                justify-content: space-between;
                align-items: center;

                .actions {
                    display: flex;
                    align-items: center;

                    .btn {
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 22px;

                        &.button-draft {
                            color: $secondary-color;
                        }

                        &.button-preview {
                            background-color: #e7ece9;
                            color: $primary-color;

                            &:hover {
                                background-color: $primary-color;
                            }
                        }

                        &.button-submit {
                            background-color: $primary-color;
                            color: #fff;

                            &:hover {
                                background-color: darken($primary-color, 3);
                            }
                        }

                        a.custom-close-link {
                            padding: 10px;

                            i {
                                color: $primary-color;
                            }

                            &:hover {
                                background-color: #c0c3cb;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }
        }
    }

    // Main content area
    .container {
        margin-top: 3rem;

        form {
            .row {

                // Main content area
                .col-lg-8 {
                    .accordion {
                        input[type="file"] {
                            display: none; // Hide the real file input
                        }

                        .tag-select {
                            span {
                                width: 100% !important;
                            }
                        }

                        .accordion-item {
                            border: none !important;

                            h2.accordion-header {
                                button.accordion-button {
                                    padding: 20px 40px 20px 0 !important;
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 32px;
                                    color: #41454f;
                                    background-color: transparent;
                                    border-bottom: 1px solid #cdcfd5;
                                    box-shadow: none;
                                }
                            }

                            .accordion-collapse {
                                .accordion-body {
                                    .course-main-content {
                                        margin-bottom: 4rem;

                                        .mb-3 {
                                            margin-bottom: 1rem;

                                            .form-label {
                                                font-size: 16px;
                                                font-weight: 500;
                                                line-height: 26px;
                                            }

                                            // Styling for input, textarea, and select
                                            input[type="text"],
                                            input[type="url"],
                                            textarea,
                                            select {
                                                background-color: #fff;
                                                border: 1px solid #cdcfd5;
                                                border-radius: 6px;
                                                padding: 8px;
                                                box-shadow: none;

                                                &:focus {
                                                    outline: none !important;
                                                    box-shadow: none !important;
                                                }
                                            }
                                        }

                                        .row.mt-4 {
                                            .col-md-4 {
                                                .form-label {
                                                    strong {
                                                        font-weight: bold;
                                                    }
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }

                        // Video Section Accordion Item
                        .accordion-item {
                            .accordion-collapse {
                                input {
                                    background-color: #fff;
                                    border: 1px solid #cdcfd5;
                                    border-radius: 6px;
                                    padding: 8px;
                                    box-shadow: none;

                                    &:focus {
                                        outline: none !important;
                                        box-shadow: none !important;
                                    }
                                }
                            }

                            // h2.accordion-header {
                            //     button.accordion-button {
                            //         // Video button styles
                            //     }
                        }
                    }

                    // Instructors Accordion Item
                    .accordion-item {
                        .accordion-collapse {
                            .accordion-body {
                                .mb-3 {
                                    .instructor-card {
                                        .instructor-card-wrapper {
                                            max-width: 390px;
                                            border: 1px solid #cdcfd5;
                                            padding: 14px;
                                            border-radius: 5px;

                                            .instructor-avatar {
                                                .avatar-image {
                                                    border-radius: 50%;
                                                }
                                            }

                                            .instructor-info {
                                                .instructor-header {
                                                    .instructor-name {
                                                        font-size: 18px;
                                                        font-weight: 500;
                                                        line-height: 22px;
                                                    }

                                                    .instructor-badge {
                                                        font-size: 14px;
                                                        font-weight: 500;
                                                        line-height: 23px;
                                                    }
                                                }

                                                .instructor-email {
                                                    font-size: 10px;
                                                    font-weight: 500;
                                                    line-height: 23px;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    // Additional Data Accordion Item
                    .accordion-item {
                        .accordion-collapse {
                            .accordion-body {
                                .mb-3 {
                                    label {
                                        font-size: 16px;
                                        font-weight: 500;
                                        line-height: 26px;
                                    }

                                    textarea {
                                        box-shadow: none;

                                        &:focus {
                                            outline: none !important;
                                            box-shadow: none !important;
                                            border-color: #cdcfd5;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Course Upload Tips
            .col-lg-4 {
                .card.custom-upload-tips-card {
                    border: none !important;
                    background-color: transparent;
                    padding: 1rem;
                    margin-bottom: 1.5rem;

                    .card-title {
                        font-weight: bold;
                        margin-bottom: 16px;
                        font-size: 20px;
                    }

                    .custom-upload-tips-list {
                        list-style: none;
                        padding: 0;

                        li {
                            font-size: 16px;
                            line-height: 24px;
                            position: relative;
                            padding-left: 25px;
                            color: #555;
                            margin-bottom: 20px;

                            &::before {
                                content: "";
                                position: absolute;
                                top: 50%;
                                left: 0;
                                transform: translateY(-50%);
                                width: 8px;
                                height: 8px;
                                background-color: $primary-color;
                                border-radius: 50%;
                            }
                        }
                    }
                }
            }

            .select-wrapper {

                &>span {
                    width: 100% !important;
                }
            }
        }
    }
}

// Responsive adjustments
@media (max-width: 768px) {
    .create-course-main {

        // Header section
        header.custom-header {
            .container-fluid {
                .header-wrapper {
                    justify-content: flex-end !important;

                    .logo {
                        display: none;
                    }
                }
            }
        }
    }
}