.my-course {
    border-left: 2px solid #b2b4b7;
    flex: 1;

    .nav-tabs {
        border-bottom: none;

        .nav-item {
            .nav-link {
                color: #212327;
                font-weight: 400;
                margin-right: 16px;
                padding: 8px 16px;
                border: none;
                outline: none;
                background: none;
                transition: none;

                &:hover,
                &:focus {
                    color: $primary-color;
                    background: none;
                    box-shadow: none;
                    border-bottom: none;
                }

                &.active {
                    border-bottom: 2px solid $primary-color;
                }
            }
        }
    }

    .tab-content {
        margin-top: 24px;

        .card {
            border-radius: 15px;
            border: none;
            width: 100%;
            max-width: 320px;
            margin-bottom: 20px;
            height: 100%;
            display: grid;

            .card-img-top {
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;

                img {
                    width: 100%;
                    object-fit: cover;
                    border-radius: 15px 15px 0 0;
                    object-position: 0;
                    height: 250px;
                }
            }

            .card-body {
                padding: 1rem;

                h5 {
                    font-size: 16px;
                    font-weight: 500;
                    line-height: 19px;
                }

                .course-data {
                    p {
                        i {
                            font-size: 16px;
                            color: #757c8e;
                            margin-left: 10px;
                        }

                        span {
                            margin-left: 5px;
                        }
                    }
                }

                p {
                    margin-bottom: 0.5rem;
                    font-size: 14px;
                    color: #757c8e;
                }
            }

            .card-footer {
                p {
                    font-size: 16px;
                    font-weight: 600;
                    line-height: 25px;
                    color: #212327b5;

                    span {
                        line-height: 25px;
                        color: #212327;
                    }

                    // Styles for anchor tags within the paragraph
                    a {
                        padding: 5px;
                        border-radius: 50%;
                        display: inline-block; // Ensure the anchor behaves as a block for better clickability

                        i {
                            color: #757c8e;
                            margin: 0 10px;
                            font-size: 16px;
                        }

                        // Hover effect for anchor tags
                    }

                    .edit-link {
                        i {
                            &:hover {
                                color: #8eb555;
                            }
                        }
                    }

                    .delete-link {
                        i {
                            &:hover {
                                color: red;
                            }
                        }
                    }
                }
            }
        }
    }
}
