@import "dashboard-head";
@import "dashboard-sidebar";
@import "dashboard-main";
@import "dashboard-helprequest";
@import "dashboard-enrollment";
@import "dashboard-profile";
@import "dashboard-wishlist";
@import "dashboard-course-section";
@import "dashbord-settings.scss";
// @import "dashboard-schedule-class";
@import "dashboard-myCourses";
@import "dashboard-Announcment";
@import "dashboard-course-Analytics";
@import "mobile-footer";
@import "dashboard-media-quries";
@import "create-course";
@import "dashboard_courseRequest";
@import "createClass";
@import "tutorRequest";
@import "helprequestadmin";
@import "categories";
@import "tags";
@import "dashboardLecture";
@import "studentView";
@import "email";
@import "students"