.dashboard-head {
    @media (max-width: 472px) {
        margin-top: 0 !important;
    }
    .tutor-data {
        border-bottom: 1px solid #b2b4b7;
        @media (max-width: 472px) {
            flex-direction: column-reverse;
        }
        .tutor-info {
            .tutor-avatar {
                max-width: 100%;

                @media (max-width: 472px) {
                    flex-direction: column;
                    li {
                        text-align: center;
                    }
                }

                img {
                    width: 96px;
                    height: 96px;
                    object-fit: cover;
                    border-radius: 50%;

                    @media (max-width: 575px) {
                        width: 65px;
                        height: 65px;
                    }

                    @media (max-width: 472px) {
                        width: 75px;
                        height: 75px;
                    }
                }

                span {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 32px;
                }

                b {
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 38px;
                    color: #212327;
                }
            }
        }

        .tutor-notification-request {
            @media (max-width: 472px) {
                margin-bottom: 27px;
                width: 100%;
                justify-content: space-between;
                flex-direction: row-reverse;
            }
            .offcanvas-btn {
                @media (max-width: 472px) {
                    padding: 10px;
                }
                border: 0;
                background-color: #fff;
                padding: 15px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: all 0.3s ease-in-out;
                filter: drop-shadow(1px 3px 4px rgba(0, 0, 0, 0.621));

                i {
                    font-size: 20px;
                    color: $primary-color;
                }

                &:hover {
                    background-color: $primary-color;

                    i {
                        color: #fff;
                    }
                }
            }
            .button-secondary {
                @media (max-width: 472px) {
                    padding: 5px !important;
                }
            }
        }
    }

    .notification-request {
        .notification-item {
            cursor: pointer !important;
        }
    }
}
