.profile {
    // flex: 1;
    border-left: 2px solid #b2b4b7;

    h2 {
        // margin-top: 32px;
        font-size: 24px;
        font-weight: 500;
        line-height: 32px;
    }

    .profile-details {
        list-style-type: none;
        padding: 0;

        li {
            display: flex;
            justify-content: space-between;
            padding: 19px 0px;

            .label {
                font-size: 18px;
                font-weight: 400;
                line-height: 32px;
                margin-right: 115px;
            }

            .value {
                font-size: 18px;
                font-weight: 500;
                line-height: 32px;
            }
        }
    }
    @media (max-width: 1024px) {
        li {
            flex-direction: column;
        }
    }
}
