.dashboard-sidebar {
    .sidebar {
        width: max-content;

        ul {
            padding: 0;

            li {
                a {
                    color: $primary-color;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 30px;
                    padding: 8px 30px;
                    border-radius: 5px 0 0 5px;

                    &:hover {
                        background-color: rgb(33 35 39 / 6%);
                    }

                    &:first-child {
                        margin-top: 10px;
                    }

                    i {
                        margin-right: 10px;
                    }

                    &.active {
                        background-color: $primary-color;
                        color: #fff;

                        i {
                            color: #fff;
                        }
                    }
                }
            }
            .tutor-dashboard-menu-divider-header{
                padding: 20px;
                border-top: 1px solid #DCDFE5;
                color: #ACACAC;
            }
        }
    }
}
