.about-us {
    margin-bottom: 80px;

    .about-us-main {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 100%;
            background: rgba($color: #000000, $alpha: 0.5);
        }

        .content-wrapper {
            position: relative;
            z-index: 2;
        }

        .inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        h3 {
            font-size: 19px;
            font-weight: 500;
            line-height: 28px;
            letter-spacing: 4px;
            color: #fff;
            border-top: 2px solid #fff;
            border-bottom: 2px solid #fff;
            padding: 10px 0;
            width: 70%;
            margin: 0 auto;
            margin-top: 120px !important;
        }

        h1 {
            font-size: 63px;
            font-weight: 700;
            line-height: 75px;
            color: #fff;
            margin-top: 20px;
        }

        .description {
            margin-bottom: 203px;

            p {
                color: #fff;
                font-size: 20px;
                font-weight: 400;
                line-height: 28px;
                letter-spacing: 1px;
                text-align: center;
                max-width: 1046px;
                margin: 0 auto;
            }
        }
    }

    .about-us-body {
        padding: 55px 0;

        .inner {
            text-align: center;

            h2 {
                font-size: 44px;
                font-weight: 600;
                line-height: 66px;
                letter-spacing: 6px;
                margin-bottom: 30px;
            }

            .description {
                margin-bottom: 30px;

                p {
                    font-size: 19px;
                    font-weight: 300;
                    line-height: 28px;
                    letter-spacing: 1px;
                    max-width: 1344px;
                    margin: 0 auto;
                }
            }
        }
    }

    .training-team-section {
        padding: 50px 0;

        h3 {
            font-size: 44px;
            font-weight: 700;
            letter-spacing: 6px;
            line-height: 54px;
            color: #000;
        }

        p {
            font-size: 20px;
            font-weight: 400;
            line-height: 42px;
            color: #000;
        }

        .card-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-bottom: 30px;

            .card {
                flex: 1 1 30%;
                max-width: 30%;
                margin: 10px;
                border: 1px solid #000;
                border-radius: 10px;
                padding: 20px;
                background-color: #fff;
                transition: transform 0.3s ease;

                &:hover {
                    transform: translateY(-10px);
                }

                img {
                    max-width: 100%;
                    // height: auto;
                    border-radius: 5px;
                }

                h5 {
                    font-size: 17px;
                    font-weight: 600;
                    margin-top: 15px;
                    margin-bottom: 10px;
                }

                span {
                    font-size: 14px;
                    font-weight: 500;
                    display: block;
                    margin-bottom: 10px;
                    color: #555;
                }

                p {
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 20px;
                    margin-bottom: 15px;
                    color: #333;
                }

                a {
                    font-size: 14px;
                    font-weight: 600;
                    text-decoration: none;
                    color: $primary-color;
                }
            }
        }
    }

    @media (max-width: 1200px) {
        .training-team-section {
            .card-container {
                .card {
                    flex: 1 1 45%;
                    max-width: 45%;
                }
            }
        }
    }

    @media (max-width: 768px) {
        .training-team-section {
            .card-container {
                .card {
                    flex: 1 1 100%;
                    max-width: 100%;
                }
            }
        }

        .about-us-main {
            .inner {
                h3 {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 25px;
                    margin-top: 50px !important;
                }

                h1 {
                    font-size: 35px;
                }

                .description {
                    margin-bottom: 150px;

                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }

        .about-us-body {
            .inner {
                h2 {
                    font-size: 30px;
                    font-weight: 600;
                    line-height: 40px;
                }

                .description {
                    p {
                        font-size: 14px;
                        line-height: 20px;
                    }
                }
            }
        }

        .training-team-section {
            h3 {
                font-size: 20px;
                font-weight: 500;
                line-height: 30px;
                letter-spacing: 2px;
            }
        }
    }
}