.course-details {
    .hero {
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        position: relative;
        object-fit: contain;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
        }

        .inner {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .hero-details {
            z-index: 4;
            text-align: center;
            color: #fff;

            .course-heading-border {
                margin-top: 50px !important;
                font-size: 19px;
                font-weight: 500;
                line-height: 28px;
                letter-spacing: 4px;
                color: #fff;
                border-top: 2px solid #fff;
                border-bottom: 2px solid #fff;
                padding: 10px 0;
                margin: 0 auto;
                text-transform: uppercase;
                max-width: 690px;
            }

            h1 {
                font-size: 62px;
                line-height: 69px;
                margin: 30px 0px;
                text-transform: uppercase;
                font-weight: 700;
            }

            p {
                font-size: 18px;
                max-width: 1280px;
                margin-bottom: 220px;
            }
        }
    }

    /* Available Classes Section */
    .course-classes {
        margin: 0 auto;
        max-width: 1280px;
        padding: 30px;
        background-color: #f9f9f9;
        border-radius: 15px;
        background: #fff;
        box-shadow: 0px 5px 40px 0px rgba(16, 70, 39, 0.12);
        position: relative;
        margin-top: -90px;
        padding-bottom: 40px;
        z-index: 3;

        h2 {
            font-size: 48px;
            font-weight: 500;
            line-height: 57.6px;
            letter-spacing: 2.4px;
            margin-bottom: 36px;
            position: relative;

            &::before {
                content: "";
                height: 8px;
                width: 90px;
                position: absolute;
                left: 0;
                top: 54px;
                background-color: #f4461f;
            }
        }

        .search-container {
            display: flex;
            align-items: center;
            gap: 20px;
            margin-bottom: 20px;

            .search-bar {
                display: flex;
                align-items: center;
                padding: 0px 12px;
                border-radius: 6px;
                background-color: #fff;
                border: 1px solid #d1d5d7;
                width: 100%;
                position: relative;

                img {
                    margin-right: 12px;
                }

                input {
                    flex: 1;
                    padding: 10px;
                    border: none;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .filter-btn {
                padding: 12px 24px;
                background-color: #fff;
                border: 1px solid #d1d5d7;
                border-radius: 5px;
                cursor: pointer;
                display: flex;
                align-items: center;
                gap: 8px;

                img {
                    width: 16px;
                }
            }
        }

        .filter-row {
            display: flex;
            gap: 20px;
            max-height: 0;
            opacity: 0;
            overflow: hidden;
            transition: max-height 0.5s ease, opacity 0.5s ease;

            &.show {
                max-height: 200px;
                opacity: 1;
            }

            .calendar-input,
            .location-dropdown {
                flex: 1;
                width: 50%;
                padding: 10px;
                border-radius: 5px;
                border: 1px solid #d1d5d7;
                background-color: #fff;
            }
        }

        .flatpickr-calendar {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            font-family: "Arial", sans-serif;
            border: 1px solid #e0e0e0;

            .flatpickr-month {
                display: flex;
                justify-content: center;
                font-size: 18px;
                font-weight: bold;
                color: #333;
            }

            .flatpickr-prev-month,
            .flatpickr-next-month {
                font-size: 20px;
                color: #4caf50;

                svg {
                    fill: #4caf50;
                }
            }

            .flatpickr-weekdays {
                display: grid;
                grid-template-columns: repeat(7, 1fr);
                font-weight: 600;
                color: #333;
            }

            .flatpickr-day {
                color: #333;
                font-size: 14px;
                padding: 10px;
                margin: 5px;
                width: 40px;
                height: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                transition: background-color 0.3s ease;

                &:hover {
                    background-color: #f0f0f0;
                    cursor: pointer;
                }

                &.selected {
                    background-color: #4caf50;
                    color: #fff;
                    font-weight: bold;
                    border-radius: 50%;
                }

                &.disabled,
                &.disabled:hover {
                    color: #ccc;
                    background-color: transparent;
                    cursor: not-allowed;
                }

                &.today {
                    border: 2px solid #4caf50;
                    color: #333;
                }
            }
        }

        .event-card {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 10px 0px;
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0px 2px 2px -1px rgba(209, 213, 215, 1),
                0px 0px 11px rgba(209, 213, 215, 0.3);
            margin-bottom: 20px;
            border-left: 12px solid green;

            &__date {
                padding-left: 16px;
                text-align: center;
                color: #333;

                .day {
                    font-size: 24px;
                    font-weight: bold;
                }

                .month {
                    font-size: 16px;
                    font-weight: 600;
                }

                .time {
                    font-size: 14px;
                    color: rgba(26, 44, 55, 0.8);
                }
            }

            &__info {
                flex-grow: 1;

                .event-name {
                    font-size: 16px;
                    font-weight: 500;
                    color: #1a2c37e5;
                }

                .event-card__details {
                    display: flex;
                    align-items: center;

                    .status.open {
                        color: green;
                        font-size: 15px;
                        font-weight: 500;
                        line-height: 24px;
                    }

                    .capacity {
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 24px;

                        span {
                            font-size: 15px;
                            font-weight: 300;
                            line-height: 24px;
                            color: rgba(26, 44, 55, 0.8);
                        }
                    }

                    .status.closed {
                        color: red;
                    }
                }
            }

            &__actions {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding-right: 16px;

                .price {
                    font-size: 16px;
                    font-weight: 500;
                    color: red;
                }

                .enroll-btn {
                    background-color: rgba(16, 70, 39, 1);
                    color: #fff;
                    padding: 5px 20px;
                    border-radius: 6px;
                    font-size: 14px;
                    font-weight: 600;
                    line-height: 20px;

                    &:hover {
                        background-color: rgba(16, 70, 39, 0.8);
                    }
                }
            }
        }
    }

    .course-video {
        padding: 50px 0;
        background-color: #f9f9f9;

        .container {
            text-align: center;

            .video {
                // min-height: 500px;
                // margin: 0 auto;

                iframe {
                    width: 100%;
                    border-radius: 10px;
                    max-width: 1280px;
                    min-height: 500px;
                }
            }
        }
    }

    .course-details-tabs {
        border-top: 1px solid #ced4da;

        .nav-tabs {
            .nav-item {
                .nav-link {
                    padding: 8px;
                    background-color: transparent;
                    color: #000;

                    &:hover {
                        border: none;
                    }

                    &.active {
                        border: none !important;
                        border-bottom: 1.6px solid #ff6636 !important;
                        background-color: transparent;
                        color: #ff6636;
                    }

                    transition: none;
                }
            }
        }

        .tab-content {
            .tab-pane {
                .course-details__content {
                    h3 {
                        font-size: 20px;
                        line-height: 32px;
                        font-weight: 700;
                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 25.6px;
                        color: #41454f;
                    }
                }

                .course-details__widget {
                    h3 {
                        font-size: 20px;
                        line-height: 32px;
                        font-weight: 500;
                    }

                    ul {
                        list-style-type: disc !important;

                        li {
                            color: #212327;
                            font-weight: 400;
                            line-height: 25.6px;
                            font-size: 16px;
                            max-width: 600px;
                        }
                    }
                }
            }
        }
    }

    .news-letter {
        margin: 20px 0;

        .row {
            margin: 120px 0;
        }

        .news-letter-content {
            h6 {
                font-weight: 600;
                font-size: 32px;
                line-height: 34px;
                letter-spacing: 3px;
                color: #161616;
            }

            p {
                font-weight: 400;
                font-size: 20px;
                line-height: 24px;
                color: #000;
            }

            input {
                background-color: #fff;
                border: 1px solid #ced4da;
                border-radius: 4px;
                padding: 10px;

                &:focus-visible {
                    outline: none;
                }
            }

            button {
                width: max-content;
                margin: 0 auto;
            }
        }
    }

    /* Media Queries */
    @media (max-width: 768px) {
        .hero {
            .hero-details {
                h1 {
                    font-size: 40px !important;
                }
            }
        }

        .course-classes {
            h2 {
                font-size: 32px !important;

                &::before {
                    height: 6px;
                    width: 90px;
                }
            }
        }
    }

    @media (max-width: 479px) {
        .hero {
            .hero-details {
                h1 {
                    font-size: 32px !important;
                }

                p {
                    font-size: 14px !important;
                }
            }
        }

        .course-classes {
            .search-container {
                flex-wrap: wrap;
                justify-content: center;

                .search-bar {
                    overflow: hidden;
                }
            }

            .event-card {
                flex-direction: column;
            }

            .event-card__actions {
                align-items: center !important;
            }

            h2 {
                font-size: 28px !important;

                &::before {
                    height: 3px;
                    width: 90px;
                }
            }
        }
    }

    @media (max-width: 380px) {
        .course-classes {
            h2 {
                &::before {
                    top: 110px;
                }
            }
        }
    }
}

.modal-body {
    p {
        font-size: 20px;

        strong {
            text-transform: capitalize;
        }
        // margin-bottom: 25px;

        // span {
        //     display: block;
        // }
    }
}
