.event-calendar {
    .calendar-additional-filters {
        .form-select {
            background-color: #f1f1f1;
            border: 1px solid #ddd;
            border-radius: 5px;
        }
    }

    .event-cards {
        .event-card {
            border: 1px solid #ddd;
            border-radius: 8px;
            background-color: #fff;
            padding: 14px 8px;
            width: 100%;

            .event-card-wrapper {
                display: flex;
                align-items: self-start;
                overflow: hidden;

                .date-badge {
                    text-align: center;

                    .month {
                        background-color: $primary-color;
                        color: #fff;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 12px;
                        padding: 2px 20px;
                        border-radius: 6px 6px 0 0;
                    }

                    .day {
                        background: linear-gradient(
                            180deg,
                            rgba(255, 255, 255, 0) 0%,
                            rgba(208, 214, 219, 0.3) 100%
                        );
                        font-weight: 500;
                        font-size: 20px;
                        line-height: 24px;
                        border-radius: 0 0 6px 6px;
                    }

                    .event-count {
                        font-size: 14px;
                    }
                }

                .event-title {
                    font-size: 14px;
                    line-height: 21px;
                    font-weight: 700;
                    color: #354052;
                    display: -webkit-box;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    word-wrap: break-word;
                }

                .badge {
                    background-color: #cacbce40;
                    color: #5d687a;
                    padding: 2px 4px;
                    font-weight: 700;
                    line-height: 16px;
                }
            }
        }
    }

    #calendar {
        background-color: $background-color !important;
        color: $text-color !important;
        border-radius: 10px;

        .fc-toolbar {
            color: $text-color !important;

            .fc-button {
                color: $text-color !important;
                background-color: #fff !important;
            }
        }

        .fc-col-header-cell-cushion {
            color: $text-color !important;
        }

        .fc-event {
            background-color: #87ceeb !important;
            color: #fff !important;
            border: none !important;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            cursor: pointer;
        }

        .fc-daygrid-day {
            .fc-daygrid-day-number {
                color: $text-color !important;
            }
        }
    }
}

.modal-content {
    padding: 20px;

    .modal-header {
        background: $primary-color;
    }

    .modal-title {
        font-size: 30px;
        white-space: nowrap;
        overflow: hidden;
    }

    .modal-body {
        .event-details {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            row-gap: 30px;

            p {
                font-size: 20px;
                // margin-bottom: 25px;
                width: 45%;

                strong {
                    text-transform: capitalize;
                }

                span {
                    display: block;
                }
            }
        }

        .hosted {
            .hosted-profile {
                display: flex;
                align-items: center;
                gap: 20px;

                img {
                    width: 28px;
                    height: 28px;
                    border-radius: 50%;
                }

                p {
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }

    .modal-footer {
        button {
            padding: 10px 50px;
        }
    }
}
