footer {
    position: relative;
    padding: 40px 20px;

    .footer-background {
        position: absolute;
        width: 100%;
        object-fit: cover;
        z-index: -1;
    }

    .footer-container {
        padding: 0;
    }

    .footer-map {
        iframe {
            width: 100%;
            height: 300px;
            max-width: 700px;
            border: 0;
        }
    }

    .certificates {
        .certificate {
            @media (max-width: 992px) {
                max-width: 60%;
                font-size: 16px;
            }

            img {
                width: 60px;
                height: 60px;
                object-fit: contain;
            }
        }

        p {
            font-size: 14px;
            color: #000;
        }
    }

    .footer-body {
        b {
            font-size: 22px;
            color: #191a15;
            line-height: 27px;
        }

        .nav.flex-column {
            margin-top: 25px;
            li {
                font-size: 16px;
                color: #333;

                a {
                    color: #41463e;
                    text-decoration: none;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }

    .copywrite {
        border-top: 1px solid #2b3d51;
        padding: 20px 0;
        text-align: center;
    }

    .copywrite-text {
        p,
        .policy a {
            font-size: 14px;
            color: #575150;
        }
    }

    .policy {
        a {
            margin: 0 15px;
            text-decoration: none;
            color: #000;
            &:hover {
                color: $primary-color;
            }
        }
    }

    //     @media (max-width: 768px) {
    //         .footer-container {
    //             .row {
    //                 flex-direction: column;
    //                 align-items: center;
    //                 text-align: center;

    //                 .footer-map {
    //                     iframe {
    //                         max-width: 100%;
    //                         height: 300px;
    //                     }
    //                     margin-top: 20px;
    //                 }
    //             }
    //         }
    //     }
}
