* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.form-select,
.form-control {
    &:focus {
        outline: none !important;
        box-shadow: none !important;
        border-color: #000 !important;
    }
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

.container {
    margin: 0 auto;
}

.button-primary {
    background: $primary-color;
    color: #fff;
    font-weight: 600;
    line-height: 20.59px;
    font-size: 13px;
    border-radius: 5px;
    padding: 12px 47px;
    border: none;

    &.disabled {
        cursor: not-allowed;
    }

    &:hover {
        background-color: #156636;
        transition: all 0.3s ease-in-out;
    }
}

.button-secondary {
    background: transparent;
    border: 1px solid $primary-color;
    color: $primary-color;
    font-weight: 600;
    line-height: 20.59px;
    font-size: 13px;
    border-radius: 5px;
    padding: 12px 47px;

    &.disabled {
        cursor: not-allowed;
    }
}

.card-table {
    border: 1px solid #cdcfd5;
    border-radius: 6px;
    border-bottom: none !important;

    table {
        border: none !important;
        min-width: 700px;
        margin-bottom: 0 !important;

        thead {
            th {
                padding: 9px 16px;
                font-size: 14px;
                line-height: 1.8;
                font-weight: 500;
                white-space: nowrap;
                color: #41454f;
                border-bottom: 1px solid #cdcfd5;
                background-color: #f4f6f9;
            }
        }

        tbody {
            tr {
                border-bottom: 1px solid #cdcfd5;

                td {
                    padding: 16px;
                    font-size: 16px;
                    line-height: 1.6;
                    font-weight: 500;
                    color: #212327;

                    a {
                        cursor: pointer;
                        color: #212327;

                        &:hover {
                            color: $primary-color;
                        }
                    }
                }
            }
        }
    }
}

.news-letter {
    margin: 20px 0;

    .row {
        margin: 120px 0;
    }

    .news-letter-content {
        h6 {
            font-weight: 600;
            font-size: 32px;
            line-height: 34px;
            letter-spacing: 3px;
            color: #161616;
        }

        p {
            font-weight: 400;
            font-size: 20px;
            line-height: 24px;
            color: #000;
        }

        input {
            background-color: #fff;
            border: 1px solid #ced4da;
            border-radius: 4px;
            padding: 10px;

            &:focus-visible {
                outline: none;
            }
        }

        button {
            width: max-content;
            margin: 0 auto;
        }
    }
}

@media screen and (max-width: 768px) {
    .news-letter {
        .row {
            margin: 60px 0;

            .news-letter-content {
                h6 {
                    font-size: 20px;
                }

                p {
                    font-size: 14px;
                }
            }
        }
    }
}

.loading-spinner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.spinner {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top-color: $primary-color;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    margin: 200px auto;
    z-index: 11;
}
.card {
    .card-img-top {
        height: 250px;
        img {
            width: 100%;
            height: 100%;
            object-position: 0;
        }
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
