.login {
    .container-fluid {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h1 {
            position: relative;
            display: inline-block;
            padding: 28px 0px;
            font-weight: 500;
            font-size: 21px;
            line-height: 28px;
            letter-spacing: 4px;
            text-align: center;
            border-top: 2px solid #000;
            border-bottom: 2px solid #000;
            width: 100%;
            max-width: 690px;
        }
        form {
            .login_form {
                .row {
                    .col {
                        input {
                            padding: 10px 20px;
                            border: 1px solid #00000099;
                            outline: none;
                            &:focus {
                                box-shadow: none;
                            }
                        }

                        .forgot-btn {
                            text-decoration: none;
                            color: $primary-color;
                        }
                    }
                }
                .d-flex {
                    .button-primary {
                        color: #fff;
                        border: none;
                        padding: 20px 0px;
                        font-size: 20px;
                        font-weight: 700;
                        line-height: 20px;
                        letter-spacing: 1px;
                        letter-spacing: 0px;
                        min-height: 60px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                    }
                    .button-secondary {
                        font-size: 19px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: -0.015em;
                        color: $primary-color-v1;
                        min-height: 60px;
                        display: inline-flex;
                        align-items: center;
                        justify-content: center;
                        img {
                            display: inline-block;
                            height: 24px;
                            width: 24px;
                        }
                    }
                    margin-bottom: 55px;
                }
                .text-end {
                    a {
                        color: $primary-color;
                        font-size: 12px;
                        font-weight: 500;
                        line-height: 20px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 600px) {
        form {
            width: 100% !important;
            .login_form {
                .d-flex {
                    .button-primary {
                        font-size: 12px !important;
                    }
                    .button-secondary {
                        font-size: 12px !important;
                    }
                }
            }
        }
    }
}
