.onsite-course-page {
    .onsite-course-header {
        text-align: center;
        background: linear-gradient(0deg,
                rgba(0, 0, 0, 0.68) 0%,
                rgba(0, 0, 0, 0.68) 100%);
        padding: 50px 0 200px 0px;

        .container {
            .inner {
                h3 {
                    font-size: 18px;
                    font-weight: 500;
                    line-height: 27px;
                    letter-spacing: 4px;
                    color: #fff;
                    border-top: 2px solid #fff;
                    border-bottom: 2px solid #fff;
                    padding: 20px 0;
                    margin: 0 auto;
                    max-width: 690px;
                    text-transform: uppercase;
                }

                .onsite-course-title {
                    margin-top: 70px;
                    font-size: 60px;
                    font-weight: 700;
                    line-height: 70px;
                    color: #fff;
                    text-transform: uppercase;
                    max-width: 1280px;
                }

                .onsite-course-subdescription {
                    font-size: 20px;
                    font-weight: 400;
                    line-height: 1.2;
                    letter-spacing: 1px;
                    color: #fff;
                }
            }
        }
    }

    .onsite-course-info {
        margin: 0 auto;
        max-width: 1280px;
        padding: 30px;
        background-color: #f9f9f9;
        border-radius: 15px;
        box-shadow: 0px 5px 40px 0px rgba(16, 70, 39, 0.12);
        position: relative;
        margin-top: -90px;
        padding-bottom: 40px;
        z-index: 3;

        .container {
            .inner {
                display: flex;
                justify-content: space-between;
                border: 1px solid #cdcfd5;
                border-radius: 5px;
                padding: 10px;

                .onsite-course-details {
                    flex: 1;
                    padding: 30px;
                    padding-bottom: 90px;

                    .onsite-course-pricing {
                        display: flex;
                        flex-direction: column;
                        gap: 19px;

                        .onsite-price {
                            font-size: 22px;
                            font-weight: 700;
                            line-height: 24px;
                        }

                        .onsite-add-to-cart {
                            max-width: max-content;
                        }
                    }

                    .onsite-enrollment {
                        margin-top: 10px;
                        font-size: 1rem;
                        color: #555;

                        i {
                            color: #e94235;
                            margin-right: 5px;
                        }

                        span {
                            font-size: 14px;
                            font-weight: 300;
                            line-height: 24px;
                        }
                    }

                    .onsite-subject {
                        display: flex;
                        align-items: center;
                        gap: 10px;
                        padding: 17px 47px 18px 0;
                        border-bottom: 1px solid #d8d8d8;
                    }
                }

                .onsite-course-meta {
                    flex: 1;
                    padding: 24px 32px;

                    ul.onsite-meta-list {
                        list-style: none;
                        padding: 0;

                        li {
                            margin-bottom: 10px;
                            font-size: 1rem;
                            color: #666;
                            border-bottom: 1px solid #d8d8d8;
                            padding: 17px 47px 18px 0;
                            display: flex;
                            align-items: center;
                            gap: 10px;

                            i {
                                color: #e94235;
                                margin-right: 10px;
                            }

                            strong {
                                font-weight: bold;
                            }
                        }
                    }
                }
            }
        }
    }

    .course-details-tabs {
        border-top: 1px solid #ced4da;

        .nav-tabs {
            .nav-item {
                .nav-link {
                    padding: 8px;
                    background-color: transparent;
                    color: #000;

                    &:hover {
                        border: none;
                    }

                    &.active {
                        border: none !important;
                        border-bottom: 1.6px solid #ff6636 !important;
                        background-color: transparent;
                        color: #ff6636;
                    }

                    transition: none;
                }
            }
        }

        .tab-content {
            .tab-pane {
                .course-details__content {
                    h3 {
                        font-size: 20px;
                        line-height: 32px;
                        font-weight: 700;
                    }

                    p {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 25.6px;
                        color: #41454f;
                    }

                    .content-wrapper {
                        position: relative;
                        max-height: 120px;
                        overflow: hidden;
                        transition: max-height 0.3s ease-in-out;
                    }

                    /* Gradient overlay for blur effect */
                    .content-wrapper {
                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            right: 0;
                            height: 60px;
                            /* Height of the gradient overlay */
                            background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 80%);
                            pointer-events: none;
                            /* Prevent interaction with the overlay */
                            z-index: 1;
                        }
                    }

                    /* Expanded state to reveal the full content */
                    .content-wrapper.expanded {
                        max-height: none;
                        /* Remove height restriction */
                    }

                    .content-wrapper.expanded {
                        &::after {
                            display: none;
                            /* Remove the gradient overlay */
                        }
                    }

                    .showmore-btn {
                        padding: 0;
                        margin: 0;
                        border: none;
                        background-color: transparent;
                        color: #666;
                        text-decoration: none;
                        font-weight: 500;

                        &:hover {
                            color: $primary-color;
                        }
                    }

                    .accordion {
                        .accordion-item {
                            .accordion-button {
                                background-color: transparent;
                                box-shadow: none;
                                border-bottom: 1px solid #ced4da;
                                font-size: 18px;
                                font-weight: 500;

                                &:hover {
                                    color: $primary-color;
                                }
                            }

                            .accordion-button {
                                &:not(.collapsed) {
                                    color: #FF6636 !important;
                                }
                            }

                            .accordion-body {
                                i {
                                    color: #666 !important;
                                }

                                &:hover {
                                    background-color: #FFEEE8 !important;

                                    i {
                                        color: #FF6636 !important;
                                    }
                                }
                            }
                        }
                    }
                }

                .course-details__widget {
                    img {
                        width: 50vw;
                        min-width: 300px;
                    }
                }
            }
        }
    }

    // Media Queries for Responsive Design
    @media (max-width: 1280px) {
        .onsite-course-info {
            margin-top: -90px !important;
            margin: 0px 20px;
        }
    }

    @media (max-width: 768px) {
        .onsite-course-title {
            font-size: 40px !important;
            line-height: 1.2 !important;
        }

        .onsite-course-info {
            padding: 15px;

            .container {
                .inner {
                    flex-direction: column;

                    .onsite-course-details,
                    .onsite-course-meta {
                        flex: none;
                        width: 100%;
                        padding: 15px 0;
                    }
                }
            }
        }
    }

    @media (max-width: 576px) {
        .onsite-course-header {
            padding-bottom: 130px !important;

            .onsite-course-title {
                font-size: 32px !important;
            }

            .onsite-course-subdescription {
                font-size: 14px !important;
                line-height: 1.2 !important;
            }
        }
    }
}